priority -50
###########################################################################
#                            my TextMate Snippets                            #
###########################################################################

snippet global
/*global $1*/
endsnippet
snippet hello
test ok!
endsnippet
